* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f172a;
}

.calculator {
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#display {
  color: #22c55e;
  background: #020617;
  text-shadow: 0 0 8px #22c55e;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #334155;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #475569;
}

.zero {
  grid-column: span 2;
}

/* 📱 Mobile */
@media (max-width: 480px) {
  .calculator {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  button {
    padding: 25px;
    font-size: 20px;
  }

  #display {
    font-size: 28px;
  }
}